@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './fonts';
@import './darcula';
@import './transition';

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@400;500&display=swap');

/* purgecss start ignore */
html, body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	@apply break-words text-lg bg-gray-100 text-gray-800;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	&.light {
    --bg: theme('colors.gray.200');
    --bg-disabled: theme('colors.gray.100');
    --text-normal: theme('colors.gray.700');
    --text-disabled: theme('colors.gray.400');
    --text-title: theme('colors.gray.700');
    --text-link: theme('colors.orange.500');
    --card-bg: theme('colors.white');
    --inline-code-bg: theme('colors.gray.300');
    --inline-code-border: theme('colors.gray.300');
    --inline-code-text: theme('colors.gray.700');
  }

  &.dark {
    --bg: theme('colors.gray.800');
    --bg-disabled: theme('colors.gray.600');
    --text-normal: theme('colors.gray.300');
    --text-disabled: theme('colors.gray.500');
    --text-title: theme('colors.gray.200');
    --text-link: theme('colors.orange.400');
    --card-bg: theme('colors.gray.700');
    --inline-code-bg: theme('colors.gray.900');
    --inline-code-border: theme('colors.gray.800');
    --inline-code-text: theme('colors.gray.300');
  }
}

h1, h2, h3, h4, h5, h6 {
	@apply leading-loose font-semibold;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
	@pply text-2xl;
}

h2 {
	@apply text-xl;
}

h3 {
	@apply text-lg;
}

h4 {
	@apply text-base;
}

h5 {
	@apply text-sm;
}

h6 {
	@apply text-xs;
}

* {
	transition:
		transform 0.3s cubic-bezier(0.55, 0, 0.1, 1),
		background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1),
		box-shadow 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
/* purgecss end ignore */